PUBLIC_API_BASE_URL=
PUBLIC_APP_ID=
PUBLIC_APP_JWT=
PUBLIC_APP_ENV=
PUBLIC_APP_DOMAIN_NAME=
PUBLIC_APP_DOMAIN_NAMES=
PUBLIC_XMPP_WS=
PUBLIC_XMPP_HOST=
PUBLIC_XMPP_CONFERENCE=
USER_EMAIL=
USER_PASSWORD=
